/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 100%;
  height: 100%;
  /*border-width: 0px;*/
  margin: 0px;
  /*padding: 5px;*/
  /*background-color: #C4C4B0;*/
  background-color: #c4c4b0;
  /*background-color: grey;*/
  font-family: montserrat;
  font-weight: normal;
  font-size: 12px;
}

header {
  /*background-color: #C4C4B0;*/
  color: black;
  /*text-shadow: 1px 1px black;*/
  width: 100%;
  font-size: 18px;
}

header span {
  /*width: 100%;*/
  padding-left: 10px;

  /*height: 30px;*/

}

img {
  height: 125px;
  width: 125px;
}

.index-list {
  height: 100%;
}

.full-page {
  /*margin: 5px;*/

  min-width: 720px;
  /*padding: 0px 10px 0px 0px;*/
  height: 100%;
  width: 90%;
}

.frame {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 100%;
}

.nav {
  width: 100%;
  background-color: #dcdcc6;
  padding: 10px 0px 10px 0px;
  /*border-radius: 25px;*/
  /*height: 50px;*/
  /*background-color: #C4C4B0;*/
  /*border-width: 0px;*/
  /*height: 30px;*/
  /*border-width: .5px;*/
  /*border-bottom: solid grey;*/
}

.nav span {
  padding: 0px 7px 0px 7px;
}

.nav-center {
  padding: 10px 0px 0px 0px;
}

.user-page {
  background-color: #f5f5dc;
  height: 600px;
  /*width: 100%;*/
}

.header-item {
  /*border-width: 1px;*/
  /*border-bottom: solid grey;*/
  width: 100%;
  height: 20px;
  /*background-color: #f5f5dc;*/
  background-color: #dcdcc6;
  font-size: 14px;
  color: black;
  text-decoration: underline;
  padding: 0px 0px 5px 0px;
  /*text-shadow: 1px 1px black;*/
}

.header-item span {
  text-decoration: underline;
}

.thread-title {
  color: black;
  text-shadow: 1px 1px white;
}

.user-info {
  width: 140px;
  padding: 10px 0px 10px 15px;;
}

.date-line {
  /*height: 20px;*/
  /*width: 100%;*/
  /*border-bottom: 1px solid;*/
  /*border-color: grey;*/
  text-decoration: underline;
  padding: 10px 0px 5px 10px;
  color: grey;
}

.profile {
  /*background-color: grey;*/
  /*height: 400px;*/
  width: 430px ;
  margin-left: auto ;
  margin-right: auto ;
}

.thread-item img {
  padding: 10px 0px 5px 0px;
}

.username {
  padding: 0px 0px 15px 0px;
  font-size: 16px;
}

.profile-side {
  padding: 25px 15px 0px 0px;
  float: left;
  width: 200px;
  text-align: left;
  /*width: 200px;*/
  display: inline;
}

.profile-side img {
  padding: 0px 0px 10px 0px;
}

.profile-line {
  padding: 0px 0px 5px 0px;
}

.profile-since {
  padding: 5px 0px 15px 0px;
}

.profile-about {
  padding: 30px 0px 0px 0px;
}

.post-body {
  /*width: 80%;*/
  display: inline;
  max-width: 70%;
  /*padding: 10px 0px 0px 15px;*/
  border-left: 1px solid;
  border-color: grey;
  height: 220px;
}

.post-text {
  padding: 1px 0px 0px 10px;
}

.list-item {
  /*border-width: 1px;*/
  /*border-bottom: solid grey;*/
  /*width: 100%;*/
  height: 20px;
  /*height: 100%;*/
  /*background-color: #f5f5dc;*/
  background-color: white;
}

.thread-item {
  text-align: left;
  width: 100%;
  height: 220px;
  /*display: inline;*/
  background-color: white;
}

.left {
  float: left;
}

.list-item span {
  padding-left: 10px;
  /*float: left;*/
  /*padding: 0px 7px 0px 7px;*/
}

.name-column {
  float: left;
  width: 130px;
  text-align: left;
}

.title-column {
  float: left;

  width: 30%;
  text-align: left;
}

.search-title-column {
  float: left;
  width: 150px;
  text-align: left;
}

.date-column {
  width: 180px;
  float: right;
  text-align: left;
}

.search-date-column {
  width: 150px;
  float: right;
  text-align: left;
}

.count-column {
  width: 50px;
  float: right;
  text-align: left;
}

.post-column {
  width: 50px;
  float: left;
  text-align: left;
}

.search-post-column {
  width: 240px;
  float: right;
  text-align: left;
}

.beige {
  /*background-color: #dcdcc6;*/
  background-color: #f5f5dc;
}

.outer-percent {
  border: 1px solid black;
  height: 15px;
  width: 100px;
  border-radius: 4px;
  background-color: grey;
  margin: 0px 0px 15px 0px;
}

.inner-percent {
  border-radius: 4px;

  height: 15px;
  float: left;
  /*width: 10px;*/
  background-color: #98FB98;
}













/**/
